{{ domain }}:80,
www.{{ domain }}:80 {
    import common.caddy
    redir https://www.{{ domain }}
}

{{ domain }}:443,
www.{{ domain }}:443 {
    import common.caddy
    root {{ caddy_web_path }}
}

postgres.{{ domain }}:80 {
    import sub.common.caddy
    redir https://postgres.{{ domain }}
}

postgres.{{ domain }}:443 {
    import sub.common.caddy
    basicauth / {{ username }} {{ user_password }}
    proxy / localhost:18000 {
        transparent
    }
}

git.{{ domain }}:80 {
    import sub.common.caddy
    redir https://git.{{ domain }}
}

git.{{ domain }}:443 {
    import sub.common.caddy
    proxy / localhost:18100 {
        transparent
    }
}

dev.{{ domain }}:80 {
    import sub.common.caddy
    redir https://dev.{{ domain }}
}

dev.{{ domain }}:443 {
    import sub.common.caddy
    gzip {
        not /stream/
    }
    proxy / localhost:18200 {
        websocket
        transparent
    }
}

files.{{ domain }}:80 {
    import sub.common.caddy
    redir https://files.{{ domain }}
}

files.{{ domain }}:443 {
    import sub.common.caddy
    root {{ caddy_web_files_path }}
    browse
    mime {
      .mkv video/webm
    }
}

docker.{{ domain }}:80 {
    import sub.common.caddy
    redir https://docker.{{ domain }}
}

docker.{{ domain }}:443 {
    import sub.common.caddy
    proxy / https://docker.{{ domain }}:18300 {
        transparent
    }
}

prometheus.{{ domain }}:80 {
    import sub.common.caddy
    redir https://prometheus.{{ domain }}
}

prometheus.{{ domain }}:443 {
    import sub.common.caddy
    basicauth / {{ username }} {{ user_password }}
    proxy / localhost:9090 {
        transparent
    }
}
