# Configure certificates for ssl
{% if is_dev == "true" %}
tls self_signed
{% else %}
tls /home/{{ caddy_user }}/certs/{{ domain }}.crt /home/{{ caddy_user }}/certs/{{ domain }}.key
{% endif %}

gzip
